        <ul id="mainnav">
            <li>
                <a href="#">
                <span class="icon"> <i aria-hidden="true" class="icon-home"></i></span>
                <span>Home</span>
            </a>
            </li>
            <li>
            <a href="/life/">
                <span class="icon"> <i aria-hidden="true" class="icon-happy"></i></span>
                <span>Life</span>
            </a>
            </li>
            <li>
            <a href="/code/">
                <span class="icon"> <i aria-hidden="true" class="icon-code"></i></span>
                <span>Code</span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="icon-info"></i></span>
                <span>About</span>
            </a>
            </li>
        </ul>
